.body {
  /* border: 1px solid red; */
  flex: 0.8;
  background: linear-gradient(rgb(63, 47, 47), rgba(0, 0, 0, 1));
  height: 100vh;
  color: #fff;
  padding: 30px;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.body__infoText > p {
  font-size: 14px;
}

.body__info > img {
  height: 16vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .body__infoText > p {
    display: none;
  }
  .body__infoText > h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 555px) {
  .body__infoText > h2 {
    display: none;
  }
}

.body__icons {
  display: flex;
  align-items: center;
}

.addUser {
  margin-right: 20px;
  font-size: 40px;
  transition: all 0.2s ease-in;
  color: rgb(194, 194, 194);
  animation: bounce 5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.addUser:hover {
  transform: scale(1.08);
  color: #fff;
}

.horizontal {
  transition: all 0.2s ease-in;
  color: rgb(194, 194, 194);
}

.horizontal:hover {
  transform: scale(1.08);
  color: #fff;
}

.body__icons {
  font-size: 30px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__users {
  margin: 20px -30px;
}

hr {
  border: 1px solid #353535;
  width: 96%;
  margin-top: -10px;
}
