.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #1d1c1c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: #fff;
  width: 300px;
}

.footer__icon {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 40px;
  background-color: #1d1c1c;
  border: none;
  color: #fff;
}

.footer__icon:hover {
  color: #1ed15e;
  transform: scale(1.2) !important;
}

.footer__right {
  flex: 0.3;
}

.footer__logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

@media screen and (max-width: 778px) {
  .footer__info {
    font-size: 12px;
  }
}
@media screen and (max-width: 677px) {
  .footer__info {
    display: none;
  }
}
