/*
=============== 
Modal
===============
*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 58vh;
  max-width: 1000px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(46, 6, 6);
  cursor: pointer;
}

h3 {
  color: rgb(46, 6, 6);
}

.form {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "center";
}

.fileInput {
  width: 97%;
  margin: 10px 0;
  color: #000;
}
