/*
=============== 
Header
===============
*/

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  flex: 0.5;
  min-width: 95px;
  background-color: #fff;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header__left > input {
  border: none;
  width: 100%;
  outline: none;
  padding: 0 10px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}

.header__logo {
  font-size: 40px;
}

.search_glass {
  color: rgb(194, 159, 159);
}

/*
=============== 
Form Input
===============
*/

.form-input {
  border: none;
  padding-right: 250px;
  text-align: start;
  /* line-height: 1.5; */
  outline: none;
  margin-left: 10px;
  margin-bottom: 2px;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  font-size: 14px;
}

::placeholder {
  align-items: flex-start;
  color: rgb(194, 159, 159);
}

@media screen and (max-width: 1095px) {
  .form-input {
    display: none;
  }
  .header__left {
    display: none;
  }
}
