/*
=============== 
Sidebar
===============
*/

.sidebar {
  /* border: 1px solid #000; */
  height: 100vh;
  flex: 0.2;
  background-color: #070707;
  color: #fff;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  object-fit: contain;
  height: 100px;
  padding: 10px;
  margin-right: auto;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__icon {
  text-decoration: none;
}

.footer__icon__top {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 30px;
  background-color: rgb(7, 7, 7);
  border: none;
  color: #fff;
  margin-left: 28px;
  height: 30px;
}

.footer__icon__top:hover {
  color: #1ed15e;
  transform: scale(1.2) !important;
}

.sidebar__header {
  display: flex;
  align-items: center;
}
