/*
=============== 
Sidebar Option
===============
*/
.sidebarOption {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  color: rgb(170, 167, 167);
  height: 40px;
  /* cursor: pointer; */
  transition: all 0.2s ease-in;
}

.sidebarOption:hover {
  color: #fff;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 38px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

/*
=============== 
Filter Buttons
===============
*/

.filter_buttons:hover {
  color: #fff;
  transition: all 0.2s ease-in;
}

.filter_buttons {
  border: none;
  color: rgb(170, 167, 167);
  background-color: #070707;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
