/*
=============== 
Title
===============
*/
.title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80%;
  margin: 18px auto;
  margin-right: 120px;
  /* background-color: aqua; */
  color: rgba(194, 194, 194, 0.733);
}

.title__user_name {
  margin-right: 60px;
}
.title__user_email {
  margin-left: 25px;
}

.title__user_date {
  margin-left: 8px;
}

.title__user_company {
  margin-right: 30px;
}

@media screen and (max-width: 1620px) {
  .title {
    display: none;
  }
}
