.userRow {
  margin-left: 40px;
  /* margin-bottom: 10px; */
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: #fff;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.userRow:last-child {
  margin-bottom: 40px;
}

.userRow:hover {
  /* cursor: pointer; */
  background-color: #000;
  opacity: 0.8;
}

.userRow__info {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  /* background-color: aliceblue; */
  width: 100%;
}

.name > h1 {
  font-size: 16px;
  font-weight: 400;
  /* background-color: antiquewhite; */
}

.email > p,
.date > p,
.company > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
  /* background-color: antiquewhite; */
  padding: 10px;
  font-size: 16px;
}

.date > p {
  margin-left: 10px;
}
.company > p {
  margin-left: 30px;
}

.userRow__image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-left: 45px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
}

.userRow__icons {
  display: flex;
  /* background-color: red; */
  margin-right: 90px;
  align-items: center;
}

.horizontal__1,
.horizontal__2 {
  transition: all 0.2s ease-in;
  color: rgb(194, 194, 194);
  font-size: 30px;
  margin-right: 10px;
  /* padding: 2px; */
}

.horizontal__1:hover {
  transform: scale(1.08);
  color: #fff;
}

.horizontal__2:hover {
  transform: scale(1.08);
  color: red;
}

.red_outline {
  color: rgb(109, 7, 7);
}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  width: 10px;
  height: 40px;
}
.loader {
  color: red;
  margin: 88px auto;
  margin-top: 20rem;
  font-size: 30px;
}

@media screen and (max-width: 1040px) {
  .userRow__image {
    display: none;
  }
}

@media screen and (max-width: 965px) {
  .email > p {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .userRow__icons {
    display: none;
  }
  .date > p {
    margin-left: -60px;
  }
}
@media screen and (max-width: 665px) {
  .date > p {
    display: none;
  }
  .company > p {
    margin-left: -60px;
  }
}
@media screen and (max-width: 550px) {
  .name > h1 {
    margin-left: -60px;
  }
}

@media screen and (max-width: 420px) {
  .company > p {
    display: none;
  }
}
