body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "lato", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
